<ion-view title="Search Manual">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-ios-home" ng-click="goHome()">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="'true'" class="has-header">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="searchData.searchText" ng-change="search()" placeholder="Search Text">
    </label>
  </div>
  <ion-list>
    <ion-item ng-repeat="item in searchResults track by $index" ng-href="#/page/{{item.page | escape}}/{{searchData.searchText}}">
      <b>{{item.page}}</b>
      <br/>
      {{item.snippet}}
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
